.h1-only {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    line-height: 80px;
}

.primary-messages, .messageable-details {
    display: flex;
    flex-direction: column;
    padding: 8px 20px;
    justify-content: flex-start;
}

.message-header, .primary-header-container, .primary-header-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

.primary-header-container {
    justify-content: space-between;
    padding: 0 16px 0 20px;
    height: 49px;
    border-bottom: 1px solid rgb(43, 42, 47) !important;
    position: fixed;
    width: calc(96vw - 326px);
    top: 40px;
    z-index: 400;
    opacity: 1;
}

.primary-header-name {
    font-size: 18px;
    font-weight: bold;
}

.messageable-details, .primary-messages {
    position: relative;
    top: 50px;
}

.primary-messages {
    overflow: auto;
}

.message-details-text-container {
    display: block;
    text-align: left;
}

.message-details-user-photos {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.message-details-text-container {
    margin-bottom: 16px;
}

.message-item {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
}

.message-author {
    font-weight: bold;
    padding-right: 5px
}

.message-time {
    font-weight: 400;
    font-size: 12px;
}

div.message-author-photo.img-placeholder {
    height: 40px;
    width: 40px;
}

.message-content {
    line-height: 1.46;
    font-size: 15px;
}

.message-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.create-message-container {
    position: fixed;
    bottom: 0px;
    border-radius: 8px;
    padding: 0 20px 20px 20px;
    display: block;
    overflow: hidden;
    width: 72vw;
}

.message-details-channel-title {
    display: flex;
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 600;
}

.messageable-details {
    margin: 88px 20px 16px 20px;
}

.message-p {
    padding: 8px 12px;
}

.message-input-container {
    border-left: 4px solid #0000;
    border-radius: 6px/4px;
    border-right: 4px solid #0000;
}

.message-textarea {
    height: auto;
    width: 100%;
}