.h1-only {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    line-height: 80px;
}

.primary-messages, .messageable-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 50px;
}

.message-header, .primary-header-container, .primary-header-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
}

.primary-header-container {
    justify-content: space-between;
    padding: 0 16px 0 20px;
    height: 50px;
    border-bottom: 1px solid rgb(43, 42, 47) !important;
    width: calc(100vw - 326px);
    box-sizing: border-box;
    opacity: 1;
}

.workspace-body-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    position: relative;
    overflow: hidden;
}

.message-scroll-container {
    overflow-y: scroll;
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    scroll-snap-align: end;
    height: 80%
}

.primary-header-name {
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    font-weight: 900;
    padding: 6px 8px;
}

.primary-header-name:hover {
    background-color: #2c2931;
    cursor: pointer;
}

.primary-messages {
    padding: 8px 0;
}

.message-details-text-container {
    display: block;
    text-align: left;
}

.message-details-user-photos {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.message-details-text-container {
    margin-bottom: 16px;
}

.message-item, .edit-message-item {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
}

.edit-message-item {
    background-color: #f2c74433;
}

.message-item:hover {
    background-color: rgb(68, 70, 77);
}

.message-author {
    font-weight: bold;
    padding-right: 5px
}

.message-time {
    font-weight: 400;
    font-size: 12px;
}

div.message-author-photo.img-placeholder {
    height: 40px;
    width: 40px;
}

.message-content {
    line-height: 1.46;
    font-size: 15px;
    display: inline-block;
    text-align: left;
}

.message-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
}

.create-message-footer {
    padding: 0 20px 0 20px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 326px);
    box-sizing: border-box;
    background-color: #201c24;
}

.create-message-container {
    border-radius: 8px;
    border: 1px solid #565856 !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: #222529;
}


.message-details-channel-title {
    display: flex;
    font-size: 28px;
    margin-bottom: 8px;
    font-weight: 600;
}

.messageable-details {
    margin: 48px 0 16px 0px;
    padding: 8px 20px;
}

.create-message-content {
    padding: 8px 12px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    box-sizing: border-box;
    overflow-y: auto;
}

.message-input-container {
    border-left: 4px solid #0000;
    border-radius: 6px/4px;
    border-right: 4px solid #0000;
}

.message-textarea {
    /* padding: 0 10px; */
    background-color: #222529;
    width: 97%;
    box-sizing: border-box;
    text-align: left;
    border: none;
    color: white;
    resize: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.top-message-options {
    padding: 4px;
    height: 38px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notifications-footer {
    height: 24px;
}

.create-message-send-button {
    padding: 2px 8px;
    background-color: #007a5a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
    font-weight: 700;
}

.bottom-message-options {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 4px 0 6px
}

.bottom-buttons-container {
    padding: 4px 2px 4px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message-item-actions-container {
    position: relative;
    right: 12px;
    top: -27px;
    /* z-index: 1; */
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid rgb(43, 42, 47) !important;
    height: 36px;
    align-items: center;
    padding: 1px 2px;
    background-color: #121016;
}

.message-item-actions {
    height: 32px;
    width: 32px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-item-actions:hover {
    background-color: #2c2931;
    border-radius: 3px;
}

.message-items-actions-icon {
    height: 18px;
    width: 18px;
}

.bottom-left-options {
    display: flex;
    align-items: center;
}

.top-message-options strong {
    padding-left: 5px;
    padding-right: 5px;
}

.create-message-send-button:disabled, .create-message-send-button:disabled:hover {
    background-color: #222529;
    color: grey;
    border: none;
    cursor: default;
}

.small-button {
    font-size: 13px;
    height: 28px;
    min-width: 56px;
    padding: 0 12px 1px;
}

.create-message-send-button:hover {
    cursor: pointer;
    background-color: #018a65;
}

.channel-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-top: 10px;
    font-size: 18px;
}

.all-channels-link {
    padding: 13px 10px 10px 10px;
    text-decoration: underline;
    color: lightgray;
    margin-bottom: 8px;
    font-size: 15px;
}

.all-channels-link:hover {
    cursor: pointer;
    color: #40B3E4;
}