* {
    font-family: Slack-Larsseit,
        Helvetica Neue,
        Helvetica,
        Segoe UI,
        Tahoma,
        Arial,
        sans-serif;
    text-align: center;
}

.signin-page {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 800px;
    width: 100%;
}

