.user-icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.small {
    font-size: 25px;
    margin-bottom: -2px;
}

.large {
    font-size: 69px;
    margin-bottom: -4px;
}

.medium {
    margin-bottom: -2px;
    font-size: 38px;
}

.xsmall {
    font-size: 18px;
}


.overflow-hidden {
    overflow: hidden;
}