.workspace-options-dropdown-container, .other-workspaces-list-container {
    position: fixed;
    border-radius: 6px;
    box-shadow: 0 4px 12px 0 #0000001f;
    max-height: calc(100vh - 62px);
    width: 200px;
    min-width: 200px;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
    width: 300px;
    background-color: #222529;
    margin: 0;
    padding: 12px 0;
    border: #2f3235 1px solid !important;
    color: #d1d2d3;
}

.workspace-options-dropdown-container {
    top: 80px;
    left: 50px;
}

.workspace-options-workspace {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 24px 12px 24px;
}

.workspace-options-bold-text {
    font-size: 15px;
    font-weight: 700;
}

.workspace-options-text {
    font-size: 15px;
    font-weight: 400;
    padding: 4px 24px;
    display: flex;
    justify-content: flex-start;
}

.workspaces-hr {
    margin: 8px 0;
}

.workspace-options-text:hover,.other-workspace-item:hover, .switch-workspace-option-container:hover {
    background-color: #1164A3;
    cursor: pointer;
}

.workspace-options-button {
    color: white;
    width: 100%;
}

.workspace-options-button:disabled {
    background-color: rgb(41, 40, 40);
}

.other-workspaces-list-container {
    left: 330px;
    top: 305px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.workspace-options-arrow svg {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
}

.switch-workspace-option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 24px;
    align-items: center;
    /* z-index: 1; */
    opacity: 1;
}

.other-workspaces-header {
    font-size: 13px;
    font-weight: 400;
    padding: 0 26px;
}

.other-workspace-item {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 0 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.other-workspaces-logo {
    height: 22px;
    width: 22px;
    margin-right: 5px;
    overflow: hidden;
}

.current-workspace-logo {
    height: 50px;
    width: 50px;
    margin-right: 1rem;
    overflow: hidden;
}