.logo-img {
    height: 26px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-text {
    padding-left: .8vw;
    font-size: 28px;
}