* {
    font-family: Slack-Larsseit,
        Helvetica Neue,
        Helvetica,
        Segoe UI,
        Tahoma,
        Arial,
        sans-serif;
    text-align: center;
}

.p-refreshed_page {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 800px;
    width: 100%;
}


.p-refreshed_page__heading {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.75px;
    line-height: 46px;
    margin-bottom: 10px;
    /* max-width: 700px; */
}