.profile-button {
    height: 26px;
    width: 26px;
    margin-right: 16px;
    border-radius: 3px;
}

#workspace-layout {
    display: grid;
    background-color: #121016;
    grid-template-rows: auto;
    overflow: visible;
    position: relative;
    grid-template-columns: 326px auto;
    grid-template-rows: 44px auto;
    grid-template-areas: 'workspace-nav-bar workspace-nav-bar'
    'workspace-sidebar workspace-primary-view';
    height: 100vh;
    width: 100vw;
}

#workspace-layout div {
    border: 1px;
}

.workspace-nav-bar {
    display: flex;
    grid-area: workspace-nav-bar;
    justify-content: center;
    min-width: 0;
    position: fixed;
    /* z-index: 203; */
    align-items: center;
    background: #121016;
    box-shadow: 0 1px 0 0 rgba(209, 210, 211, 0.1);
    height: 44px;
    z-index: 1;
}

.workspace-primary-view {
    grid-area: workspace-primary-view;
    border-left: 1px solid rgb(43, 42, 47) !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #201c24;
}

.workspace-nav-bar-search {
    height: 26px;
    width: 60vw;
    flex:2;
    background-color: rgb(68, 68, 68);
    vertical-align: center;
    border-radius: 6px;
}

.workspace-nav-bar-right {
    width: 20vw;
}

.workspace-nav-bar-left {
    display: flex;
    justify-content: flex-end;
    width: 20vw;
    padding-right: 8px;
}

.profile-button-menu {
    padding: 12px 0;
    border-radius: 6px;
    background-color: #222529;
    border: #2f3235 1px solid !important;
    color: #d1d2d3;
    box-shadow: 0 0 0 1px var(--saf-0), 0 4px 12px 0 #0000001f;
    position: fixed;
    top: 40px;
    right: 10px;
    width: 200px;
    /* height: 150px; */

}

.profile-dropdown-header {
    display: flex;
    flex-direction: row;
    padding: 5px 24px 15px;

}

.profile-menu-li:hover {
    background-color: #1164A3;
    cursor: pointer;
}

.profile-menu-li {
    padding: 6px 24px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 400;
    margin: 6px 0;
}

.profile-button-menu h1 {
    font-weight: 600;
}

.profile-menu-hr {
    height: 1px;
    border: none;
    background-color: #494c4f;
    margin: 0px;
    flex-grow: 1;
    /* padding: 8px; */
}