.session-header {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 48px 0 38px 0;
    height: 30px;
    width: 100%;
}

.left-col, .logo-container, .right-col {
    height: 30px;
}

.right-col {
    color: rgba(var(--sk_foreground_max_solid, 97, 96, 97), 1);
    font-size: 13px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.session-title {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight:700;
    /* letter-spacing: -.75px; */
    line-height: 46px;
    margin-bottom: 10px;
    max-width: 700;
    text-align: center;
    transform: scaleX(0.9)
}

.suggest {
    color: #454245;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
    max-width: 700px;
    text-align: center;
}

#signup-redirect-link {
    font-weight: 500;
    color: #1264a3;
    text-decoration: none;
}

#signup-redirect-link:hover {
    color: #0b4c8c;
    text-decoration: underline;
}