.member-list-item-container {
    padding: 0 16px;
    border-radius: 6px;
}

.member-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}

.member-names {
    display: flex;
    flex-direction: row;
}

.member-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
}

.member-title {
    padding-top: 6px;
    color: lightgray
}

.member-title h3, .member-names h2 {
    font-weight: 400;
}

.member-names h2 {
    padding-left: 10px;
}

.member-names h1 {
    color: white;
}

#add-members-icon {
    height: 20px;
    width: 20px;
    color:rgb(39, 125, 190);
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-people-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 50, 50);
    height: 36px;
    width: 36px;
    border-radius: 6px;
}

.img-placeholder-small {
    height: 36px;
    width: 36px;
    background-color: aquamarine;
}

#add-people-icon-container, .img-placeholder-small {
    border-radius: 6px;
    margin-right: 1rem
}

.add-people-button:hover {
    background-color: rgb(67, 66, 66);
    width: 100%;
    border-radius: 6px;
}

.member-list-container {
    overflow-y: scroll;
}